
<div class="ion-page" id="main-content">

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/places"></ion-back-button>
      </ion-buttons>
      <ion-title>
        Belait
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-card>
      <ion-card-content>
        <ion-img src="assets/img/belait.jpeg" alt="Image"></ion-img>
      </ion-card-content>
    </ion-card>
  
    <ion-content class="ion-padding">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Kuala Belait District</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          It has an area of 2,727 square kilometres (1,053 sq mi) and the population of 69,062 as of 2016. The administrative town is Kuala Belait, located at the mouth of the Belait River. The district is commonly associated with the oil and gas industry of the country, mainly concentrated near the town of Seria.        </ion-card-content>
      </ion-card>
  </ion-content>