
<div class="ion-page" id="main-content">

  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Tutong</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-card>
      <ion-card-content>
        <ion-img src="assets/img/tutong.jpeg" alt="Image"></ion-img>
      </ion-card-content>
    </ion-card>
  
    <ion-content class="ion-padding">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Tutong District</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Tutong District (Malay: Daerah Tutong; Jawi: دائيره توتوڠ‎) or simply Tutong is one of the four districts of Brunei. It has an area of 1,166 square kilometres (450 sq mi); the population was 48,313 in 2016. The administrative town is Pekan Tutong. It is home to Tasek Merimbun, the country's largest natural lake.
        </ion-card-content>
      </ion-card>
  </ion-content>