
<div class="ion-page" id="main-content">

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/places"></ion-back-button>
      </ion-buttons>
      <ion-title>
        Temburong
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-card>
      <ion-card-content>
        <ion-img src="assets/img/temburong.jpeg" alt="Image"></ion-img>
      </ion-card-content>
    </ion-card>
  
    <ion-content class="ion-padding">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Temburong District</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Temburong is the green jewel of Brunei, with breathtaking views, abundant flora and fauna, and eco lodges that come equipped with standard facilities Early European explorers to Borneo told tales of the exotic wonders: rare orchids with blooms as large as dinner plates. Elusive monkeys with long, curved noses.        </ion-card-content>
      </ion-card>
  </ion-content>