.aligntextcenter{
    text-align: center;
}

.clickable-box {
    display: block;
    width: 50%;
    height: 50px;
    margin: 10px 0;
    background-color: black;
    border: none;
    align-items: center;
    line-height: 50px;
    cursor: pointer;
  }